.ingredient-card {
  position: relative;
  min-width: 200px;
  padding: 40px 20px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  text-align: center;

  &__title {
    text-transform: uppercase;
  }

  &__delete-btn, &__edit-btn {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }

  &__edit-btn {
    top: 0;
    right: 30px;
  }
}
