<div class="ingredient-card">
  <!--<div (click)="deleteCardHandler()" class="ingredient-card__delete-btn">
    <button aria-label="Delete card" color="accent" mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
  </div>-->
  <div (click)="editCardHandler()" class="ingredient-card__edit-btn">
    <button aria-label="Edit card" color="primary" mat-icon-button>
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <h4 class="ingredient-card__title">{{item.name}}</h4>
  <p>{{item.type}}</p>
</div>
