<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="addIngredient()">
    <h2 mat-dialog-title>{{config.typeForm}} ingredient</h2>
    <mat-form-field appearance="fill">
      <mat-label>Ingredient name:</mat-label>
      <input matInput name="ingredientName" formControlName="name" maxlength="30"
             placeholder="Enter the name of the ingredient">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Type:</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let i of config.types"
                    [value]="i.id"
        >{{i.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Units:</mat-label>
      <mat-select formControlName="unit">
        <mat-option *ngFor="let i of config.units" [value]="i.id">{{i.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="btn-container">
      <mat-dialog-actions align="center">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button [mat-dialog-close]="form.value" cdkFocusInitial type="submit"
                [disabled]="form.invalid">{{config.typeForm | titlecase}} ingredient
        </button>
      </mat-dialog-actions>
    </div>

  </form>
</mat-dialog-content>

