<div>
  <form [formGroup]="form" (ngSubmit)="addIngredient()">
    <h2>Add new ingredient</h2>
    <mat-form-field appearance="fill">
      <mat-label>Ingredient name:</mat-label>
      <input matInput name="ingredientName" formControlName="name" maxlength="12" placeholder="Enter the name of the ingredient">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Type:</mat-label>
      <mat-select formControlName="type" >
        <mat-option *ngFor="let i of ingredientsType" [value]="i.id">{{i.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Units:</mat-label>
      <mat-select formControlName="unit">
        <mat-option *ngFor="let i of ingredientsUnit" [value]="i.id">{{i.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <button type="submit" [disabled]="form.invalid">Add</button>
  </form>

</div>
