<div>
  <label>Ingredient name:
    <input
      type="text"
      class=""
      name="ingredientName"
      placeholder="Enter the name of the ingredient"
      [(ngModel)]="name"
    >
  </label>
  <label>Type:
    <select ngDefaultControl
      ngModel (ngModelChange)="onTypeChanged($event)"
      name="ingredientTypes"
    >
      <option *ngFor="let i of ingredientsType" [value]="i.id">{{i.name}}</option>
    </select>
  </label>
  <label>Units:
    <select ngDefaultControl
            name="ingredientUnits"
            ngModel (ngModelChange)="onUnitChanged($event)"
    >
      <option *ngFor="let i of ingredientsUnit" [value]="i.id">{{i.name}}</option>
    </select>
  </label>
  <button (click)="addIngredient()">Add</button>
</div>
