<div *ngIf="!isLoading || currentItem;else loadBlock" >
  <div class="cocktail-item" >
    <h4 class="cocktail-item__title">{{currentItem.name}}</h4>
    <p class="cocktail-item__story">{{currentItem.description}}</p>
    <p class="cocktail-item__type">
      <span *ngFor="let typeN of currentItem.typeId">{{types[typeN].name}} / </span>
    </p>
    <h5 class="cocktail-item__subtitle">Cocktail ingredients {{currentItem.name}}</h5>
    <ul class="cocktail-item__composition">
      <li *ngFor="let composition of currentItem.composition">
        <span>{{getNameIngredient(composition.id)}} </span>
        <span>{{composition.amount}} {{getNameUnit(composition.id)}}</span>
      </li>
    </ul>
    <h5 class="cocktail-item__subtitle">Cocktail recipe {{currentItem.name}}</h5>
    <div class="cocktail-item__recipe">
      <ol>
        <li *ngFor="let recipeUnit of currentItem.recipe">
          {{recipeUnit}}
        </li>
      </ol>
      <div class="cocktail-item__image">
        <img src="{{currentItem.imageSrc}}" alt="{{currentItem.name}}">
      </div>
    </div>

    <div>

    </div>

  </div>

</div>
<ng-template #loadBlock>
  <mat-spinner color="accent"></mat-spinner>
</ng-template>
