<nav class="navbar">
  <div class="navbar__logo">
    <a routerLink="">
      <h1 class="navbar__title"><img src="assets/img/logo.png" alt="logo"></h1>
    </a>
  </div>
  <ul class="navbar__list">
    <li><a routerLink="/ingredients">Ingredients</a></li>
    <li><a routerLink="/cocktails">Cocktails</a></li>
    <li><a routerLink="/my-bar">My Bar</a></li>
    <li><a routerLink="/history">History</a></li>
    <li><button aria-label="Admin panel" mat-mini-fab color="accent" matTooltip="Admin panel" routerLink="admin/setting">
      <mat-icon>settings</mat-icon>
    </button></li>
  </ul>
</nav>
<router-outlet></router-outlet>
