.navbar{
  padding: 20px 0;
  display: flex;
  justify-content: center;
  gap: 100px;

  &__title{
    height: 120px;
    img{
      height: 100%;
    }
  }
  &__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    text-transform: uppercase;
    list-style-type: none;
    gap: 50px;
    a{
      text-decoration: none;
      color: black;
      &:hover{
      color: gray;
    }
    }
  }
  a{
      text-decoration: none;
      color: black;
    }
}

