<h2 class="section__title">Drink List</h2>
<mat-form-field appearance="standard" class="search-container">
  <mat-label>Filter by name</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Search by name" #input>
</mat-form-field>

<div *ngIf="!isLoading;else loadingBlock">
  <app-history-table *ngIf="historyList"
                     [historyItems]="historyList"
                     [search]="searchValue"
                     (deleteItem)="deleteHistoryItemHandler($event)"
  ></app-history-table>
</div>
<ng-template #loadingBlock>
  <mat-spinner color="accent"></mat-spinner>
</ng-template>


