<section>
  <h3>Admin-Setting works!</h3>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut laboriosam neque sunt temporibus ullam.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut laboriosam neque sunt temporibus ullam.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut laboriosam neque sunt temporibus ullam.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut laboriosam neque sunt temporibus ullam.</p>
  </div>

  <a class="nav-link" (click)="authService.SignOut()">SignOut</a>
</section>

