*{
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Oswald', sans-serif;
  max-width: 1024px;
  margin: 0 auto;
}

.section{
  margin: 0 auto;
  &__title{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
}

html, body { height: 100%; }
mat-spinner{
  margin: 100px auto;
}
mat-chip-list{
  margin: 20px auto;
  display: flex;
  justify-content: center;
  mat-icon {
    height: 15px;
    width: 15px;
    font-size: 15px;
    margin-right: 5px;
  }
}
