*{
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Oswald', sans-serif;
  max-width: 1024px;
  margin: 0 auto;
}

.section{
  margin: 0 auto;
  &__title{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
}
h3{
  text-align: center;
  text-transform: uppercase;
}

html, body { height: 100%; }
mat-spinner{
  margin: 100px auto;
}
.mat-chip-list-wrapper{
  justify-content: center !important;
}
mat-chip-list{
  margin: 20px auto;
  display: flex;
  justify-content: center;
  .material-icons{
    font-size: 15px !important;
  }
  mat-icon {
    height: 15px !important;
    width: 15px !important;
    font-size: 15px;
    margin-right: 5px;
  }
}
.mat-snack-bar-container{
  background: #ff4081b8;
  .mat-simple-snackbar-action {
    color: white;
  }
}
