*{
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Oswald', sans-serif;
  max-width: 1024px;
  margin: 0 auto;
}

.section{
  margin: 50px auto;
  &__title{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
}

html, body { height: 100%; }

