
  <section class="coctails section">
    <h2 class="section__title">Coctails</h2>
    <nav>
      <app-coctails-search (searchValue)="searchHeandler($event)"></app-coctails-search>

      <button mat-fab aria-label="Add new coctail" (click)="openDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </nav>

    <mat-chip-list selectable multiple class="chips">
      <mat-chip
        *ngFor="let item of coctailTypes"
        #c="matChip"
        (click)="sortToType(item, c)"
        [value]="item"
        color="accent"
      >
        <mat-icon *ngIf="c.selected">check</mat-icon>
        {{item.name}}

      </mat-chip>
    </mat-chip-list>
    <div *ngIf="!isLoading;else loadingBlock" >
    <app-coctails-list
      [coctails]="coctailsList"
      [coctailTypesArr] = "coctailTypes"
      [ingredients]="ingredientList"
      [search]="search"
      (addToFavorite)="addFavorite($event)"
      (addToHistory)="addHistory($event)"
    ></app-coctails-list>
    </div>
    <ng-template #loadingBlock>
      <mat-spinner color="accent"></mat-spinner>
    </ng-template>
  </section>


