<section class="ingredients section">
  <h2 class="section__title">ingredients</h2>
  <div class="ingredients__menu">
    <app-ingredients-filter></app-ingredients-filter>
    <app-ingredients-search (searchValue)="test($event)"></app-ingredients-search>
    <button class="ingredients__btn-new" (click)="isAddNewIngredients=!isAddNewIngredients">+</button>
  </div>
  <app-ingredients-form
    [ingredientsType]="ingredientsTypes"
    [ingredientsUnit]="ingredientsUnits"
    *ngIf="isAddNewIngredients"
    (addCard)="addCardHandler($event)"></app-ingredients-form>
  <div *ngIf="!loading;else loadingBlock" >
    <app-ingredients-list
      [ingredients]="ingredientsList"
      (deleteCard)="deleteCardHandler($event)"
      [search]="search"
    ></app-ingredients-list>
  </div>
  <ng-template #loadingBlock>
    <mat-spinner color="accent"></mat-spinner>
  </ng-template>
</section>

